@CHARSET "UTF-8";
/*
Version 1.0
Author: Monogray 
*/

/* MAIN _______________________________________________________________ */
html {
}
body{
    width:98%;
	margin:0;
	padding:1%;
	outline:0;
	color:#212121;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:0.85em;
	background: url(../img/bg/5827.jpg);
}
li, menu{
	list-style-type:none;
	margin:0;
	padding:0;
}
menu{
	margin:0;
	padding:0;
}
a, a img, img{
	border-width:0;
}
a{
	text-decoration:underline;
	color:#000000;
	-webkit-transition:color 1s ease-out;
	-moz-transition:color 1s ease-out;
	-o-transition:color 1s ease-out;
	-ms-transition:color 1s ease-out;
	transition:color 1s ease-out;
}
a:hover{
	text-decoration:none;
	color:#007e06;
	1font-weight:bold;
}
h1{
	font-variant:small-caps;
	margin-top:0;
	color:#ffffff;
	text-transform:uppercase;
	font-size:1.5em;
}
h2{
	font-variant:small-caps;
	margin-top:0;
	color:#ffffff;
	text-transform:uppercase;
	font-size:1.1em;
}
form{
	float:left;
	width:100%;
}
textarea{
	float:left;
	width:100%;
	height:500px;
	margin:0;
	padding:0;
}
input[type="submit"]{
	width:100%;
	height:25px;
}


/* MAIN CONTAINER _________________________________________________________ */
.list_link{
	float:left;
	width:99%;
	border-radius:5px;
	padding-top:1px;
	padding-bottom:2px;
	padding-left:1%;
	
	-webkit-transition:all 0.5s ease-out;
	-moz-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
	-ms-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;
}
.list_link:hover{
	background-color:rgba(0, 0, 0, 0.15);
}
.list_link_back{
	float:left;
	width:10%;
	border-radius:5px;
	padding-top:1px;
	padding-bottom:2px;
	padding-left:1%;
}
.block_area{
	float:left;
	width:98.9%;
	padding:0.5%;
	border:1px solid rgba(0, 0, 0, 0.1);
	margin-top:7px;
	margin-bottom:2px;
	background-color:rgba(0, 0, 255, 0.05);
	
	border-radius:8px;
	
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); 
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); 
}
.block_area_2{
	float:left;
	width:99%;
	margin-top:6px;
	margin-bottom:6px;
	padding:0.5%;
	border:1px solid rgba(255, 255, 255, 0.8);
	background-color:rgba(0, 0, 0, 0.03);
	border-radius:8px;
	
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
.list_table{
	border-collapse: collapse;
	float:left;
	width:100%;
}
.list_table td{
	border:1px solid rgba(0, 0, 0, 0.1);
}
.list_table tr:first-child{
	text-align:center;
	height:30px;
	color:rgba(255, 255, 255, 0.9);
	background-color:rgba(0, 0, 0, 0.75);
}
.list_table tr{
	-webkit-transition:all 1s ease-out;
	-moz-transition:all 1s ease-out;
	-o-transition:all 1s ease-out;
	-ms-transition:all 1s ease-out;
	transition:all 1s ease-out;
}
.list_table tr:hover{
	background-color:rgba(0, 0, 0, 0.1);
}
#info_message_container{
	position:fixed;
	width:300px;
	height:100px;
	left:100%;
	top:8px;
	margin-left:-319px;
	padding:5px;
	background-color:rgba(0, 0, 0, 0.8);
	color:rgba(255, 255, 255, 0.8);
	border-radius:8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); 
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); 
}
/*Package form*/
#package_action_header:hover{
	cursor:pointer;
}

#package_action_content{
	float:left;
	width:100%;
}
#package_select_bt, #package_add_bt, #guests_pack_move_to_grop, #guests_pack_drop{
	text-decoration:underline;
	color:#000000;
	-webkit-transition:color 1s ease-out;
	-moz-transition:color 1s ease-out;
	-o-transition:color 1s ease-out;
	-ms-transition:color 1s ease-out;
	transition:color 1s ease-out;
}
#package_select_bt:hover, #package_add_bt:hover, #guests_pack_move_to_grop:hover, #guests_pack_drop:hover{
	text-decoration:none;
	color:#007e06;
	cursor:pointer;
}


/* SITE ADMINKA _________________________________________________________ */
/* LAYOUTS _________________________________________________________ */
.img_arr_item{
	float:left;
	clear:left;
	margin-bottom:15px;
}
.drop_img_arr{
	float:left;
}
.img_arr_img{
	float:left;
	clear:left;
	margin-bottom:2px;
}



/* SAAS ADMINKA _________________________________________________________ */

/* LAYOUTS _________________________________________________________ */
#main_menu_container{
	float:left;
	width:15%;
	background-color:#000000;
	color:#ffffff;
}
#main_menu_container a{
	color:#ffffff;
	float:left;
	width:90%;
	padding:3% 5% 3% 5%;
	font-size:1.1em;
}
#main_menu_container a:hover{
	background-color:#4d4d4d;
}
#main_content_container{
	float:left;
	width:82%;
	margin-left:1%;
	padding:0.5%;
	background-color:#6c6c6c;
	color:#ffffff;
}
#main_content_container a{
	color:#ffffff;
}

/*ISSUE*/
#property_link_container{
	float:left;
	width:100%;
}
.main_menu_add_property_link{
	float:left;
	width:10%;
	margin-right:10px;
	margin-bottom:10px;
	background-color:#000000;
	padding:4px;
	text-align:center;
}
.issue_item_container{
	float:left;
	width:99%;
	padding:0.5%;
	background-color:#dedede;
	margin-bottom:20px;
	
	background: url(../img/bg/light_4.png);
}
.issue_item_container h2{
	float:left;
	background-color:#484848;
	padding:0.5%;
	margin:-0.51%;
	width:100.1%;
	
	background: url(../img/bg/dark_2.png);
}
.issue_item_content_container{
	float:left;
	padding:0;
	margin-top:15px;
	color:#000000;
}
.issue_item_content_container a{
	color:#000000 !important;
}
.issue_item_text_container{
	float:left;
	width:100%;
	font-size:0.7em;
	
	height:100px;
	overflow:auto;
}

.issue_item_container[css_class="text_one_col"] {
}

.issue_item_container[css_class="portfolio"] {
	width:31.33%;
	height:200px;
	margin-left:0.5%;
	margin-right:0.5%;
	overflow:auto;
}
