@CHARSET "UTF-8";
/* Team Manager Project */
/* Version 1.0 */
/* Author: Monogray */

/* MAIN _______________________________________________________________ */
html {
}
body{
    width:98%;
	margin:0;
	padding:1%;
	outline:0;
	color:#212121;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:0.85em;
	background: url(../../../../public/img/bg/5827.jpg)
}
body:before {
	content: "";
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	z-index: 100;
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,.8);
	box-shadow: 0px 0px 15px rgba(0,0,0,.8);
}
li, menu{
	list-style-type:none;
	margin:0;
	padding:0;
}
menu{
	margin:0;
	padding:0;
}
a, a img, img{
	border-width:0;
}
a{
	float:left;
	width:100%;
	color:#000000;
	text-decoration:none;
	-webkit-transition:color 0.5s ease-out;
	-moz-transition:color 0.5s ease-out;
	-o-transition:color 0.5s ease-out;
	-ms-transition:color 0.5s ease-out;
	transition:color 0.5s ease-out;
}
a:hover{
	text-decoration:underline;
	color:#00599d;
}
p{
	margin:0;
	padding:0;
}
h1{
	font-variant:small-caps;
	margin-top:5px;
	color:#0083de;
	text-transform:uppercase;
	font-size:1.5em;
}
h2{
	float:left;
	width:100%;
	font-variant:small-caps;
	margin-top:15px;
	color:#0083de;
	text-transform:uppercase;
	font-size:1.1em;
	border-bottom:2px solid rgba(0, 131, 222, 0.1);
}
textarea{
	float:left;
	width:100%;
	height:400px;
}

/* LAYOUT _________________________________________________________ */
.back_link{
	float:left;
	width:100%;
	margin-bottom:5px;
}
.div_left_30{
	float:left;
	width:33%;
}
.div_left_50{
	float:left;
	width:50%;
}
.div_left_30 select, .div_left_50 select{
	width:50%;
}
.input_submit{
	float:left;
	width:100%;
	height:25px;
	margin-top:2px;
	margin-bottom:2px;
}
td[name="smal_font_td"]{
	font-size:0.75em;
	text-align:center;
}
td[name="middle_font_td_left"]{
	font-size:0.85em;
	text-align:left;
}
.right_link{
	float:right;
	width:10%;
	text-align:right;
	margin-top:-35px;
	font-size:1.2em;
}
.right_link img{
	float:right;
	margin-top:1px;
	margin-left:5px;
}
.small_font_tr{
	font-size:0.6em;
}
.separator_1{
	float:left;
	width:100%;
	height:10px;
}

/* MAIN MENU _________________________________________________________ */
#logo{
	float:left;
	width:100%;
	text-align:center;
}
#logo img{
	height:35px;
}
#logout{
	position:absolute;
	top:1%;
	left:100%;
	width:5%;
	margin-left:-6.5%;
	padding:0.5%;
	text-align:right;
}
#main_menu_container{
	position:fixed;
	top:4.5%;
	left:0.5%;
	width:8.5%;
	padding:0.5%;
}
.main_menu_link{
	float:left;
	width:100%;
	margin-bottom:2px;
	font-size:1.2em;
	border-bottom:3px solid rgba(0, 0, 0, 0.1);
}
.main_menu_link:hover{
	float:left;
	width:100%;
	margin-bottom:2px;
	font-size:1.2em;
	border-bottom:3px solid rgba(0, 131, 222, 0.3);
	text-decoration:none;
}
#online_users{
	position:fixed;
	top:25%;
	left:0.5%;
	width:8.5%;
	padding:0.5%;
	font-size:0.8em;
	background-color:rgba(0, 0, 0, 0.05);
	border:1px solid rgba(0, 0, 0, 0.1);
	border-radius:5px;
}

/* TRACKER _________________________________________________________ */
.add_task_link{
	float:right;
	font-size:1.3em;
	width:150px;
	margin-top:-30px;
	text-align:right;
}
.add_task_link img{
	float:right;
	margin-top:1px;
	margin-left:5px;
}
.tracker_container{
	float:right;
	padding:0.5%;
	width:89%;
	background-color:rgba(0, 0, 0, 0.05);
	border:1px solid rgba(0, 0, 0, 0.1);
	border-radius:5px;
	margin-bottom:15px;
}
.tracker_inner_container_100{
	float:left;
	width:99%;
	padding:0.5%;
	background-color:rgba(255, 255, 255, 0.4);
	border-radius:5px;
	margin-bottom:8px;
	
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
	box-shadow: 0px 0px 10px rgba(0,0,0,.2);
}
.tracker_inner_container_50{
	float:left;
	width:48.74%;
	padding:0.5%;
	background-color:rgba(255, 255, 255, 0.4);
	border-radius:5px;
	margin-bottom:8px;
	
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.2);
	box-shadow: 0px 0px 10px rgba(0,0,0,.2);
}

.tracker_inner_container_50[name="2"]{
	margin-right:0.5%;
}

.tracker_caption{
	float:left;
	width:99%;
	padding:0.5%;
	background-color:rgba(0, 0, 0, 0.5);
	color:rgba(255, 255, 255, 0.95);
	border-radius:5px;
	font-weight:bold;
	margin-bottom:3px;
}

/* ISSUE FILTER _________________________________________________________ */
.tracker_filter{
	float:left;
	width:99%;
	padding:0.5%;
	background-color:rgba(0, 0, 0, 0.05);
	border-radius:5px;
	border:1px solid rgba(0, 0, 0, 0.1);
	margin-left:-1px;
	margin-bottom:3px;
	margin-top:2px;
	font-size:0.9em;
}
.tracker_filter select{
	font-size:0.9em;
}
.tracker_filter_caption{
	font-weight:bold;
}
.tracker_issue_table{
	float:left;
	width:100%;
}
.tracker_issue_table td{
	border:1px solid rgba(0, 0, 0, 0.1);
	border-bottom:2px solid rgba(0, 0, 0, 0.1);
}
.tracker_issue_table tr:first-child{
	background-color:rgba(0, 0, 0, 0.6);
	color:rgba(255, 255, 255, 0.9);
	text-align:center;
	height:30px;
}
.tracker_issue_table tr:first-child:hover{
	background-color:rgba(0, 0, 0, 0.6);
	color:rgba(255, 255, 255, 0.9);
}
.tracker_issue_table tr:hover td{
	border-bottom:2px solid rgba(0, 0, 0, 0.5);
	background: url(../../../../modules/team_manager/public/img/lines.png);
}
.tracker_inner_area{
	float:left;
	width:99%;
	padding:0.5%;
	background-color:rgba(0, 0, 0, 0.05);
	border-radius:5px;
	border:1px solid rgba(0, 0, 0, 0.1);
	margin-left:-1px;
	margin-bottom:3px;
	
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.1);
	box-shadow: 0px 0px 10px rgba(0,0,0,.1);
}
.tracker_inner_area:hover{
	background: url(../../../../modules/team_manager/public/img/lines.png);
}
.rad_issue{
	background-color:rgba(255, 0, 0, 0.2);
}
.blue_issue{
	background-color:rgba(78, 166, 234, 0.4);
}
.green_issue{
	background-color:rgba(168, 244, 6, 0.2);
}
.rad_td{
	background-color:rgba(255, 0, 0, 0.4);
}
.green_td{
	background-color:rgba(0, 255, 0, 0.3);
}
.yellow_td{
	background-color:rgba(255, 255, 0, 0.4);
}

/* ISSUE ATTACH _________________________________________________________ */
.tracker_issue_table[name="attach_table"]{
	font-size:0.8em;
	text-align:center;
}
.attach_drop_bt:hover, .attach_drop_confirm_bt:hover{
	text-decoration:underline;
	color:rgba(0,0,0,0.5);
	cursor:pointer;
}
.attach_drop_confirm_bt{
	font-weight:bold;
}

/* ISSUE HISTORY _________________________________________________________ */
#history_inner_area{
	float:left;
	width:100%;
	height:450px;
	overflow-y:scroll;
	border:2px solid rgba(0, 0, 0, 0.2);
	margin-left:-2px;
}
.history_content_areas{
	float:left;
	width:100%;
	height:80px;
	overflow:auto;
}
#history_open_bt{
	float:left;
	width:100%;
	margin-bottom:3px;
	font-weight:bold;
}
#history_open_bt:hover{
	cursor:pointer;
}

/* CHAT _________________________________________________________ */
#chat_messages_content{
	float:left;
	width:100%;
	height:350px;
	overflow:auto;
	border:2px solid rgba(0, 0, 0, 0.3);
	margin-left:-2px;
}
#chat_messages_textarea{
	float:left;
	width:99%;
	height:200px;
	overflow:auto;
}
.chat_small_td{
	width:100px;
	text-align:center;
	font-size:0.7em;
}